:root { 
--gray_700:#666666; 
--blue_gray_100:#d9d9d9; 
--blue_700:#0d60db; 
--blue_700_01:#357ebd; 
--indigo_50:#e2e7ed; 
--gray_200:#ececec; 
--black_900_3f:#0000003f; 
--gray_50:#fafafa; 
--light_blue_800:#0274be; 
--indigo_400:#428bca; 
--indigo_A700:#3b4ef2; 
--white_A700_01:#fffdfd; 
--blue_gray_800:#2f3f50; 
--light_blue_A700:#0984e3; 
--blue_gray_900:#333333; 
--white_A700:#ffffff; 
}